
.level-one-wrap{
    position: absolute;
    background: #fff;
    left: 0;
    width: 100%;
    z-index: 1;
    // padding: 15px 0px;
    overflow: hidden;

    h3{
        font-size: 15px;
        color: #49494a;
        text-transform: capitalize;
        font-weight: 700;
        padding-left: 15px;
    }

    ul{
        display: flex;
        flex-wrap: wrap;
        padding: 10px;

        >li{
            width: 25%;
            padding: 5px;
            box-sizing: border-box;
            text-align: left;

            a{
                color: #085eb9;
                text-transform: none;
                font-size: 13px;
            }
         

            .level-two-wrap{
                position: absolute;
                top:0;
                width: 100%;
                z-index: 2;
                height: 0;
                overflow: hidden;     
                left: 0;     
            }
            &.active .level-two-wrap{
                display: block;
               
                min-height: 160px;
                background: #fff;
            }
        }

        &.group-0{
            // position: relative;
        }
    }

}




.sub-nav{
    height: 0;
    // z-index: 2;
    // top: 0;
    // min-height: 112px;
    transition: height 0.2s ease-out;
}